In [97]:
import mysql.connector as connection

In [98]:
conn=connection.connect(host="localhost",database ="sudh123",user ="root", passwd ="Shrishty@123")

In [99]:
cur=conn.cursor()

In [100]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shris_p6qegby\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\shris_p6qegby\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [101]:
#cur.execute("create database sudh123")

In [102]:
#res=cur.fetchall()

In [103]:
for i in res:
    print (i[0])

NameError: name 'res' is not defined

In [ ]:
#cur.fetchall()

In [ ]:
mydb=connection.connect(host="localhost",database ="sudh123",user ="root", passwd ="Shrishty@123")

In [ ]:
#cur = mydb.cursor()
#cur.execute("create table test1(x1 int(5), x2 varchar(20), x3 date)")

In [ ]:
#cur =mydb.cursor()
#cur.execute("insert into test1 values(345,'sudh','2022-05-15')")

In [ ]:

|#mydb.commit()

SyntaxError: invalid syntax (3910571015.py, line 1)

In [ ]:
#cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")

In [ ]:
#mydb.commit()

In [ ]:
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")
cur.execute("insert into test1 values(12,'shrishty','2022-05-11')")

In [ ]:
#mydb.commit()

In [ ]:
import pandas as pd

In [ ]:
mydb.is_connected()

True

In [ ]:
a=pd.read_sql("select * from sudh123.test1", mydb)

c:\Users\shris_p6qegby\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
pd.read_sql("select x1 ,x2 from sudh123.test1",mydb)

c:\Users\shris_p6qegby\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     x1        x2
0   345      sudh
1    12  shrishty
2    12  shrishty
3    12  shrishty
4    12  shrishty
5    12  shrishty
6    12  shrishty
7    12  shrishty
8    12  shrishty
9    12  shrishty
10   12  shrishty
11   12  shrishty
12   12  shrishty
13   12  shrishty
14   12  shrishty

In [ ]:
a

     x1        x2          x3
0   345      sudh  2022-05-15
1    12  shrishty  2022-05-11
2    12  shrishty  2022-05-11
3    12  shrishty  2022-05-11
4    12  shrishty  2022-05-11
5    12  shrishty  2022-05-11
6    12  shrishty  2022-05-11
7    12  shrishty  2022-05-11
8    12  shrishty  2022-05-11
9    12  shrishty  2022-05-11
10   12  shrishty  2022-05-11
11   12  shrishty  2022-05-11
12   12  shrishty  2022-05-11
13   12  shrishty  2022-05-11
14   12  shrishty  2022-05-11

In [105]:
a.to_csv("mydata.csv")

In [106]:
mydb

In [109]:
cursor=mydb.cursor()
cursor.execute("create table mydata(n1 int(20),n2 varchar(20),n3 date)")

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [110]:
data1 = pd.read_sql("select * from test1", mydb)

c:\Users\shris_p6qegby\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
data1.to_sql